
element {
    --main-color: darkcyan;
    --secondary-color: lightblue;
    --third-color: violet;
    --fourth-color: purple;
    --fifth-color: white;
    --sixth-color: darkmagenta;
}

:root {
    --main-color:darkcyan;
    --secondary-color: lightblue;
    --third-color: violet;
    --fourth-color: purple;
    --fifth-color: white;
    --sixth-color: darkmagenta;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* dog 🐶 🐕*/

/* cat 🐈 🐈‍⬛*/

/* 🦄  ❤️‍🩹  */


body {
    color: var(--third-color);
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;

}



header {
    padding: 25px 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding: 20px 30px 20px 30px;
    background-color: var(--main-color);
    border: 15px solid var(--third-color);
    border-style: solid var(--third-color);
}

.header h1 .ux {
    text-decoration: var(--secondary-color);
}

header nav {
    float: right;
    margin: 5px o;
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    color: var(--fourth-color);
    margin: 0;
    display: inline;
}

header ul li {
    margin: 15px 30px;
    font-weight: lighter;
    font-size: 25px;
    display: inline;
}

header ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 25px;
    float: right;
}



.pet {
    width: 950px;
    margin: 0 auto 30px auto;
    background-color: var(--fifth-color) ;
    overflow: auto;
}

.pet img {
    width: 13%;
    float: left;
}


.pet h2 {
    padding: 25px 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding: 20px 30px 20px 30px;
    text-decoration: var(--sixth-color) underline;
    text-decoration-color: var(--sixth-color);
    color: var(--fourth-color);
    text-align: center;
    background-color: var(--main-color);
}

.container pet {
    display: flex;
}





footer {
    background-size: cover;
    background-color: var(--main-color);
    width: 100%;
    padding: 4px 35px;
    color: var(--fourth-color);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

